<%= link_to "Decks", "/decks" %>

<h1><%= @deck.name %></h1>

<%= link_to "Edit", "/decks/#{@deck.id}/edit" %>
<%= link_to "Delete", "/decks/#{@deck.id}", :method => "delete", :data => {:confirm => "Are you sure?"} %>

<ul>
  <li>Created at <%= @deck.created_at %></li>
</ul>
